.Greeting {
    text-align: center;
    font-family: $font-title;
    color: $text-primary;
    font-weight: bold;

    .Period {
        font-family: inherit;
        color: $highlight;
    }

    .Visitor {
        font-family: inherit;
    }
}

.Morning {
    color: #ffbb00;
}

.Afternoon {
    color: #ffc277;
}

.Night {
    color: #2e1a47;
    text-shadow: 0 0 0 2px $border;
}

.EarlyMorning {
    color: #0a2e5d;
    text-shadow: 0 0 5px #5d8aa8;
    font-style: italic;
}
